@{
    ViewBag.Title = "Gerador";
}

@section Scripts {
    <script src="~/js/gerador.js"></script>
}

<div class="text-center">
    <p>
        Bem vindo!
    </p>
    <small>Esse é um gerador de dados fícticios para o formato de arquivo .xlsx, comece selecionando a quantidade de dados que deseja gerar</small>

    <form action="/Home/Gerar" method="get">
        <div class="d-flex justify-content-center mt-3">
            <input type="number" min="10" max="1000" value="10" name="quantidade" class="form-control w-auto" />
            <button type="submit" class="btn btn-primary">Gerar</button>
        </div>
    </form>
</div>
